  body {
    background-color: powderblue;
    font-family: 'Ubuntu', sans-serif;
  }

  html, body {
    width:  100%;
    height: 100%;
    margin: 0;
  }

  canvas {
    background-color: #00000000;
    display: block;
    margin: 0 auto;
    aspect-ratio: 16 / 9;
    width: 100%;
    max-height: 100%;
    max-width: 100%;
    object-fit: contain;
  }

  input {
    background-color: lightcyan;
  }

  input, select {
    font-family: 'Ubuntu', sans-serif;
  }

  select {
    background-color: lightcyan;
  }

  h1, h2, h3, h4, h5 {
    text-shadow: 2px 2px aquamarine;
  }

  a, p, td {
    text-shadow: 1px 1px aquamarine;
  }

  div[id*="fact"] h4, div[id*="fact"] h5, div[id*="fact"] p {
    text-shadow: 1px 1px rosybrown;
  }

  a:link {
    color: lightskyblue;
    background-color: transparent;
    text-decoration: none;
  }
  
  a:visited {
    color: blueviolet;
    background-color: transparent;
    text-decoration: none;
  }
  
  a:hover {
    color: lightskyblue;
    background-color: transparent;
    text-decoration: underline;
  }
  
  a:active {
    color: white;
    background-color: transparent;
    text-decoration: underline;
  }

  div[id*="content"] {
    outline: 2px double aqua;
    background-color: lightcyan;
    padding: 10pt;
  }

  [id*="fact"] {
    outline: 1px dashed gray;
    background-color: palevioletred;
    padding: 6px;
  }

  [id*="common"], label[id*="common"] {
    background-color: #7eef6d;
  }

  [id*="unusual"], label[id*="unusual"] {
    background-color: #ffe65d;
  }

  [id*="rare"], label[id*="rare"] {
    background-color: #4d52e3;
  }

  [id*="epic"], label[id*="epic"] {
    background-color: #861fde;
  }

  [id*="legendary"], label[id*="legendary"] {
    background-color: #de1f1f;
  }

  [id*="mythic"], label[id*="mythic"] {
    background-color: #1fdbde;
  }

  [id*="ultra"], label[id*="ultra"] {
    background-color: #ff2b75;
  }

  [id*="super"], label[id*="super"] {
    background-color: #2bffa3;
  }

  [id*="celestial"], label[id*="celestial"] {
    background-color: #ffbb25;
  }

  [id*="chaos"], label[id*="chaos"] {
    background-color: #321f92;
  }

  [id*="effulgent"], label[id*="effulgent"] {
    background-color: #f4bdf2;
  }
  
  button {
    background-color: lightsteelblue;
    border: 1px solid mediumaquamarine;
    font-family: 'Ubuntu', sans-serif;
  }

  button:hover {
    background-color: steelblue;
  }